body{
	background-color: #05385f;
}

.nav-pills{
	background-color:#05385f;
}
.nav-link{
	color: #ffffff;
}
p, h1, h2{
	color: #b4babb;
}
h1, h2{
	margin-top: 20px;
}
h2{
	margin-bottom: 20px;
}

table, th, td {
	border: 1px solid PowderBlue;
}
th, td {
	padding: 15px;
}
th {
	text-align: center;
	color: white;
	background-color: #1e90ff;
}
tr{
	background-color: Azure;
}
tr:hover {
	background-color: #b4babb;
}

.badge{
	padding: 15px;
	margin-bottom: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: Azure;
	color: #05385f;
}

#basic-addon1{
	background-color: Azure;
}


